<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Alex Finnegan's blog feed" />  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div><!-- /.container -->
  
  <footer>
   <ul>
   <li><a href="https://github.com/afinneg2">github.com/afinneg2</a></li>
   </ul>
  </footer>
  </body>

</html>
